@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-Bold.ttf');
}

.principal {
    background-color: rgb(153, 43, 174) !important;
}

.cardForm {
    padding: 30px;
    margin: 20px;
}

.fields {
    color: white !important;
    margin-right: 5px !important;
}

.logo {
    margin-top: 50px;
}

.logo2 {
    width: 300px;
    height: 300px;
}

.cardForm2 {
    padding: 20px;
    width: 500px;
    margin: auto;
}

.cardPrincipal {
    padding: 25px;
}

@media screen and (max-width: 1263px) {
    .conjuntoBotones {
        display: block;
    }

    .v-toolbar__content {
        padding: 0 !important;
    }

    .cardPrincipal {
        padding: 0;
    }

    .container {
        padding: 0 !important;
    }
}

.toolbar {
    background-color: #9c27b09e !important;
}

.footer {
    background-color: #BA68C8 !important;
}

.tituloBienvenida {
    font-family: 'Pacifico', cursive;
    font-size: 28px !important;
    color: white !important;
}

.tituloFooter {
    font-family: 'Pacifico', cursive;
    font-size: 28px !important;
}

.navigationDrawer {
    height: 100vh !important;
}

@media screen and (max-width: 779px) {
    .conjuntoBotones {
        display: none;
    }


    .menuHamburger {
        display: block !important;
    }
}

.rowForm {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex: 1 1 auto;

}

@media screen and (max-width: 425px) {
    .cardForm {
        margin: 10px 5px 5px 5px !important;
    }

    .tituloBienvenida {
        display: none;
    }
}

@media screen and (min-width: 780px) {
    .menuHamburger {
        display: none !important;
    }
}

@media screen and (min-width: 1904px) {
    .carruselImagen .v-image__image.v-image__image--cover {
        background-position: center -140px !important;
    }
}

@media screen and (min-width: 768px) {
    .tituloBienvenida {
        display: block;
    }
}

.textoUsuario {
    text-align: center;
    color: black !important;
}
