@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-Bold.ttf');
}

.principal {
    background-color: rgb(153, 43, 174) !important;
}

.cardForm {
    padding: 30px;
    margin-top: 40px;
}

.fields {
    color: white !important;
}

.logo {
    margin-top: 50px;
}

.logo2{
    width: 300px;
    height: 300px;
}
.cardForm2{
    padding: 20px;
    width: 500px;
    margin: auto;
}

.toolbar{
    background-color: #9c27b09e!important;
}

.tituloBienvenida{
    font-family: 'Pacifico', cursive;
    font-size: 28px!important;
    color: white!important;
}
